run/*
!run/in.idf
!run/in.osm
!run/results.json
!run/run.log
!run/stdout*
!run/eplusout.end
!run/eplusout.err
!run/eplusout.mdd
!run/eplusout.mtd
!run/eplusout.rdd
!run/eplustbl.htm
!run/epluszsz.csv






